header {
    background-color: rgb(52,58,64);
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    z-index: 1;
}
nav {
height: 100%;
width: 20rem;
position: fixed;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
margin-top: 3.5rem;
padding-top: 20px;
}

nav, a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
}

.main {
    margin-left: 22rem;
    margin-top: 1rem;
    margin-right: 12rem;
    max-width: 100%;
    width: fit-content;
}
.title {
    font-size: xx-large;
    font-weight: 600;
}
#cities > a {
    border-color: #222;
    border-radius: 3px;
    border-width: 2px;
    margin: 3px;
    border-style: solid;
    margin-bottom: 5px;
}
#cities > a:hover { 
    border-color: #8888;
    color: #ddd;
    cursor: pointer;
}
#uvIndex {
    opacity: 85%;
}
#search, #cityForm{
    display: inline;
    width: auto;
}
#days > div {
    background-color: #55f;
    padding: 1rem;
    margin: 1rem;
    color: #fff;
    border-radius: 1rem;
}